[2020-05-11 22:08] abstractj commented on #595
@stianst I believe we can close it. Openshift OAuth Proxy is pretty much based on oauth2-proxy. Once we merge oauth2-proxy and Gatekeeper in Louketo repository Openshift will benefit from it.

Wdyt?

[2020-05-12 12:13] abstractj opened #611 "Replace satori/go.uuid by gofrs/uuid"
## Why?

The dependency `satori/go-uuid` used to generate UUIDs is no longer maintained and the project was replaced by `gofrs/uuid`.

## How

* Replace `satori/go/uuid` by `gofrs/uuid` inside `go.mod`
* Refactor the codebase to support it

## Acceptance criteria

* All the tests passing
* `satori/go.uuid` removed from `go.mod`

## Additional Information

* [Add deprecation notice in favor of gith

[2020-05-12 19:36] abstractj commented on #539
Hi @JoelSpeed I can be wrong, but I believe this may be one of the use cases you mentioned as core feature in oauth2-proxy.

[2020-05-12 20:02] abstractj commented on #605
@stianst @bdaw @JoelSpeed I'd like to go with option 2, but I'm not picky. So whatever we reach a consensus, I'm fine.

[2020-05-13 09:47] stianst commented on #605
Why Hugo over Jekyll? Benefit of Jekyll is that it's integrated nicely with GitHub Pages so you don't need to do anything separate to build or deploy the site.

[2020-05-13 17:52] JoelSpeed commented on #539
@abstractj I don't think it is no.

As for the topic of this conversation, Gatekeeper (or OAuth2 Proxy) needs an OIDC issuer URL to perform discovery. The way that OIDC works, this *has* to be a publicly accessible URL. OIDC mandates that the issuer is public so that the URLs it provides can be accessed by the end user as part of the authentication flow. Unfortunately, without allowing OIDC issuer

[2020-05-13 20:22] JoelSpeed commented on #605
I'm also a fan of 2, but I appreciate that it would be easier to use a Jekyll instance.

That said, one thing that we should consider, is how will we update the docs, I assume we want them to be pinned to the latest release rather than being live from master. So is generating them on each release that much of a pain?

[2020-05-14 20:15] zhertig opened #614 "Resource doesn't match # in URI"
We are trying to use gatekeeper to authenticate requests to the kibana GUI. The problem is the kibana endpoints include # in their uris. I.e:

[2020-05-14 20:22] zhertig commented on #614
We are trying to use gatekeeper to authenticate requests to the Kibana GUI. The problem is the kibana endpoints include # in their uris. I.e:
[code]

As a result I've created uris with gatekeeper to match these endpoints:
[code]

However they are never utilized, I believe because gatekeeper is unable to match the #.

This means I can only restrict access to the root uri up to /app/kibana which is

[2020-05-14 20:28] jangaraj commented on #614
#part (fragment) is available only in the browser.

So louketo-proxy is not able to see fragment in the request (it is always  `/app/kibana` request from the proxy point of view) => it doesn't make sense to use fragments in the resource definition.

[2020-05-14 21:14] zhertig commented on #614
Thanks for the quick reply. I guess I wasn't familiar with how fragments worked. That clears things up

[2020-05-14 21:14] #614 closed

[2020-05-14 23:56] abstractj opened #615 "Automate Louketo releases"
Louketo releases should be automated make this task easier and less error prone.

## Why?

We should not do any manual steps to publish a new release, other than just press a button.

## How

* By combining GitHub Actions with Goreleaser we can easily achieve that

## Acceptance criteria

* After draft a new release and publish it, all the artifacts for macOS, Linux and Windows should be
available

[2020-05-15 09:52] abstractj commented on #584
Closing it as this was fixed in the most recent releases, please refer to https://www.keycloak.org/downloads.html

[2020-05-15 09:52] #584 closed

[2020-05-15 09:58] abstractj commented on #566
No longer valid, so I'm closing this.

[2020-05-15 09:58] #566 closed

[2020-05-15 12:44] #604 closed

[2020-05-15 14:50] #522 closed

[2020-05-18 11:55] ThoreKr commented on #570
#523 should be the same issue.

[2020-05-18 15:10] abstractj commented on #523
@ThoreKr thanks for pointing that out. @jgrgt for now, I'm closing this issue as a duplicate of #570.

[2020-05-18 15:10] #523 closed

[2020-05-19 07:01] stianst commented on #605
You really don't want to have any manual steps involved in doing a release as it increases the amount of time it takes to do a release, but also makes it very error prone.

[2020-05-19 15:24] abstractj commented on #605
@JoelSpeed the goal is to have almost everything automated, including the website. I say almost, because code refactoring can't be automated :)

[2020-05-19 15:51] abstractj opened #617 "GH templates for bug reports and feature requests are not working"
## What
* When a new issue is created bug report is not presented to the reporter due to a typo
## Current result
* Blank page
## Expected result
* Reporter is presented with options to report a Feature request, or a Bug report

[2020-05-20 03:30] Ryonez commented on #606
Is there a way to get this, or is it not ready?

Keycloak's update to 10.0.0 has enforced strict scope rules, and the current "Official" gatekeeper image is broken.

[2020-05-20 18:38] abstractj commented on #606
@Ryonez could you please elaborate why the Gatekeeper image is broken?

[2020-05-21 01:28] Ryonez commented on #606
Was this issue here, discovered to be user error. Scope was added in the config file.
https://issues.redhat.com/browse/KEYCLOAK-14250

[2020-05-21 17:36] JoelSpeed commented on #609
What is the benefit to keeping the references to Gatekeeper if we move it now?

[2020-05-21 17:44] abstractj commented on #609
Test the build process on quay.io and provide a way for people to build their own Docker image. But after thinking for a bit, I believe the approach you guys used here is better https://github.com/oauth2-proxy/oauth2-proxy/blob/master/Dockerfile.

I will remove the assignee for now, so if you guys would like to contribute, please let me know.

[2020-05-21 19:34] #611 closed

[2020-05-21 19:34] #617 closed

[2020-05-22 15:11] gps035 opened #620 "Logout redirect should use the end session endpoint from the discovery doc if it exists"
Currently, when the `enable-logout-redirect` option is on, a user is redirected to `$ISSUER/protocol/openid-connect/logout`. This is not always the correct endpoint, and I believe that the `end_session_endpoint` from the discovery doc should be used if it is specified.

I have opened a PR(#619) to demonstrate how I think it should work, but I'm not 100% confident that this is the right approach

[2020-05-22 17:12] cortopy opened #621 "Unable to proxy websockets in kubernetes"
I have [keycloak gatekeeper](https://hub.docker.com/r/bitnami/keycloak-gatekeeper) running in kubernetes and the websocket connection gets a 403 response.

In the gatekeeper logs I can see:

[code]

All http requests get proxied fine, but there is one which doesn't even appear in the logs. It's `wss://domain.com/services`

I'm using contour as ingress controller, and in its logs I can see that the

[2020-05-22 18:48] robertoyoc opened #622 "Error using Client Authenticator "Sign Jwt with Client Secret""
Hi, I got the proxy running with the Client Authenticator: "Client Id and Secret" in Keycloak admin console but the app I'm trying to connect with Keycloak needs the JWT to be signed only with the secret. I changed the client Authenticator to Sign Jwt with Client Secret.

Running a `POST /localhost:3000/oauth/login` I got a 500 response.

Proxy logs:
[code]

Tried to search for `client_assertion_t

[2020-05-22 21:50] abstractj commented on #621
@cortopy unfortunately at the moment we do not support WebSockets. But I believe @chirino wanted to look at the implementation for this. See the thread below:
https://groups.google.com/d/msg/louketo/yjS5NrbG2gE/u4ixolQoAwAJ.

He mentioned his pull request on Openshift: https://github.com/openshift/oauth-proxy/pull/33. If you believe that covers your scenario, we can convert his issue in a feature

[2020-05-23 12:01] abstractj commented on #592
The issue is no longer valid, based on the recent changes from master.

[2020-05-23 12:01] #592 closed

[2020-05-23 20:48] abstractj commented on #595
Closing it as out of date, as we already have been talking with oauth2-proxy maintainers.

[2020-05-23 20:48] #595 closed

[2020-05-23 20:50] abstractj commented on #540
Closing it, thanks @jangaraj helping on this.

[2020-05-23 20:50] #540 closed

[2020-05-23 20:55] abstractj commented on #529
@pop654123 could you please provide more details like:

- [ ] YAML file for Louketo configuration
- [ ] JSON file with your client configuration
- [ ] Version of the Keycloak server

[2020-05-24 14:27] cortopy commented on #621
yes, I believe that would cover it. If the issue is about implementation, I just discovered that https://github.com/oauth2-proxy/oauth2-proxy supports websockets

[2020-05-25 13:27] PastNullInfinity opened #623 "Gatekeeper sidecar container crashing with SIGPIPE on first HTTP request"
I'm currently running Gatekeeper version 9.0.0 as a sidecar container inside a Kubernets cluster. My setup includes the use of a slightly custom [ProxyInjector](https://github.com/stakater/ProxyInjector) controller, that has the function of creating the sidecar with Gatekeeper for Deployments that need them.

The configuration (for a Kibana dashboard) is as follows (ignore the `authproxy.stakater`

[2020-05-26 11:17] 8ctv opened #624 "Keycloak gatekeeper 500 Internal Server Error"
Hi, I'm using keycloak gatekeeper in Openshift to connect to kibana. Users are complaining that sometimes they get error 500 Internal Server Error while performing searches. I was able to reproduce the error, as seen below.

The requests don't reach kibana from gatekeeper whenever the error occurs.

At first I thought that it's related to the kc-access token that expires in 300s, but I could get t

[2020-05-26 11:30] jangaraj commented on #624
That looks like Kibana `/elasticsearch/_msearch` returns 500 and then this error is just returned back to the client. It really doesn't look like gatekeeper generates 500.

You may try to use newer image, e.g.
[code]

[2020-05-26 12:35] 8ctv commented on #624
I could not get the error while bypassing keycloak gatekeeper using port forward directly on kibana.
Also, whenever the error occurs I could not see any logs coming from the kibana pod which is why I was quite sure that the issue lied in the gatekeeper.

Thank you @jangaraj for suggesting the image from quay.io. I'm trying for 30 minutes now to get the error, with no luck :)

I remember I used it

[2020-05-26 12:35] #624 closed

[2020-05-26 14:15] jangaraj commented on #624
Feature request https://issues.redhat.com/browse/KEYCLOAK-11537 will be useful in this case. Source of the response (gatekeeper/upstream) will be visible in the logs.

[2020-05-27 09:17] PastNullInfinity commented on #623
An update.

We've figured out that the culprit in these crashes is the launch of Gatekeeper with the `--resources` argument being inproperly quoted. This is an expected behaviour I assume (in the docs the resources option is always set with quotes ), although it would be nice to throw a more explicit exception when this happens, instead of crashing silently.

[2020-05-28 21:27] abstractj commented on #623
@PastNullInfinity thanks for reporting this issue and providing some feedback about Louketo. I'm closing this issue, because as you already mentioned, this is not a bug. For enhancements and feature requests, please create a new issue.

[2020-05-28 21:27] #623 closed

[2020-05-28 21:32] abstractj commented on #621
@cortopy thanks for reporting this issue and providing some feedback about this. I'm closing this issue because this is unsupported in Louketo, but if you would like to see this supported or contribute to it, please create a feature request.

[2020-05-28 21:32] #621 closed

[2020-05-29 11:44] #610 closed

[2020-05-29 17:42] #528 closed

[2020-05-29 17:45] abstractj commented on #594
Solved by #626. If there are any comments or questions, of if the issue persists. Please, let me know.

[2020-05-29 17:45] #594 closed

[2020-05-29 17:57] abstractj commented on #591
Solved in https://github.com/louketo/louketo-proxy/pull/626. Thanks to @Nuru

[2020-05-29 17:57] #591 closed

[2020-05-31 07:38] HansK-p commented on #567
I assume it's well known that something happened with Keycloak 4.6.0 and the audience field. Ref. https://stackoverflow.com/questions/53550321/keycloak-gatekeeper-aud-claim-and-client-id-do-not-match. Based on comments above I'd guess there is more to this bug report than only the change introduced in Keycloak 4.6.0.

The link has a description as to how the client_id can be added to the audience

[2020-05-31 15:00] nxadm commented on #567
As far as I can see (and how the workaround works), the bug is not in Keycloak and other providers but in louketo as it handles the response.

[2020-06-01 08:11] ackerleytng opened #627 "Why does louketo send User Agents to the authorization server with 307?"
## Summary

Was testing a protected endpoint using POST, and I was redirected to `/oauth/authorize` on louketo with a 307, and then subsequently redirected to my authorization server (Keycloak) with a 307.

## Environment

Looking at https://github.com/louketo/louketo-proxy/blob/f623dee81736ee53ab3ec531b550496a76b8231f/handlers.go#L70

(Not environment specific)

## Expected Results

I thought we

[2020-06-02 00:15] abstractj commented on #627
@ackerleytng thanks for reporting this, it should be fixed here https://github.com/louketo/louketo-proxy/pull/628. Please review, whenever you have some time.

[2020-06-02 00:54] ackerleytng commented on #627
Thanks @abstractj , it looks great! I've also left a comment on your PR.

[2020-06-02 20:03] abstractj commented on #609
@ASzc the summary is just an overall idea, but whatever ideas you have in mind will be more than welcome. Please let me know if this is something you would like to work, and I can think about other tasks.

[2020-06-02 20:18] abstractj opened #629 "Rename all the old Git tags"
## Summary

Rename all the old Git tags from this repository to avoid any confusion in the further releases.

## Why?

We have several Git tags created during the Gatekeeper releases. Now with Louketo, we're going to start on
Git tag 1.0.0.

The best way of doing this while still preserving the tags, is to rename all the tags to something like:
`10.0.0-gatekeeper`

## How

* Run all the tags local

[2020-06-02 20:19] abstractj commented on #629
@stianst @ASzc could you please review this idea and let me know if makes sense to you guys?

[2020-06-02 20:36] abstractj commented on #574
Indeed this is a bug, when people provide a `base-uri` with slash, for example `base-uri: "/"`. This is something that should be fixed.

[2020-06-02 20:39] abstractj commented on #583
I could not reproduce the steps mentioned in this issue, closing it for now.

[2020-06-03 01:43] abstractj commented on #567
That's correct, the bug is not in Keycloak and has to be fixed in Louketo. To fix this, we've been working to transition from go-oidc v1 to go-oidc v2, which contains several bugs. You can keep track of this by watching the following issues:
- #630
- #519
- #517
The initial work to migrate oauth2 is [here](https://github.com/louketo/louketo-proxy/pull/630) for those interested in giving it a try.

[2020-06-03 11:56] stianst commented on #629
I would probably go with a prefix rather than suffix, and something that sorts at the end of the list in GitHub UI to get them out of the way. Will Louketo use vX.Y.Z or X.Y.Z format for tags? If the former then I'd probably rename existing tags to something like "xGatekeeper-vX.Y.Z"

[2020-06-03 13:08] ASzc commented on #629
I agree with Stian's point about sorting.

Here's a script to do the renaming:

[code]

Anyone with an existing fork on GitHub will need to run the same script to have a clean fork. People who just have a local clone only can most easily just re-clone.

[2020-06-03 13:42] abstractj commented on #629
Thanks will do that. Answering your question, I'd like to stick with X.Y.Z as [vX.Y.Z is not considered a semantic version](https://semver.org/#is-v123-a-semantic-version).

@ASzc thank you! I will give your script a try at my fork

[2020-06-03 17:12] ASzc commented on #609
Building inside the image build works for operators and other container-exclusive stuff. However, I don't really like it when the software is also available in a non-container format, since you could end up with different binaries for the same version of the software. I did some quick searches to see if golang offers deterministic compilation, and it seems like yes, but only with Go 1.13 or later,

[2020-06-03 20:59] abstractj commented on #629
@ASzc @stianst it turns out that using the prefix suggested won't sort it to the end once we release 1.0.0. See the image below:

![](https://i.imgur.com/oYzxGSu.gif)

### Some alternatives

1. For releases, create tags with the `v` prefix, like `v1.0.0`. Honestly I don't like this idea, because it's a workaround, only to sort GH tags and it's not a semantic version.
2. Use the original proposal o

[2020-06-03 21:06] ASzc commented on #629
Seems they use a reverse sort, so a lot of the usual tricks to get something to the end of a list don't work, as you've discovered.

What about prefixing the new version tags too?

Pattern for old tags: `gatekeeper-$oldtag`

Pattern for new tags: `louketo-proxy-1.0.0`

This happens to sort the way we want, at least in my trials with `sort -Vr` on the command line, although I haven't tested it on G

[2020-06-03 21:10] abstractj commented on #620
@gps035 I was reading the description from your PR and I believe we need more details. Could you please provide more details like:
[code]

[2020-06-03 21:19] abstractj commented on #609
@ASzc +1 about building it inside the image. Regards #616, I believe we can do it in small chunks, first get it merged, later iterate over the changes and add the Docker parts.
I'm not sure if this is something you would like to try, but worth to mention that GoReleaser provides some support to Docker https://goreleaser.com/customization/docker/#publishing-to-multiple-docker-registries

[2020-06-03 21:27] abstractj commented on #629
+1 we just need to change the remember to change the YAML files from #615 to remove the prefix. But I believe is a great alternative.

@stianst wdyt?

[2020-06-04 08:47] stianst commented on #629
I think the ideal is to have the new tags just x.y.z and I'm not to keen on prefixing those with louketo-proxy.

What about "0.9.0-gatekeeper-x.y.z" or something like that?

[2020-06-04 09:34] stianst commented on #609
I would not build Louketo within the image, but rather used the pre-built binary. Further, I would go for the GitHub Actions release workflow to upload images to Quay, and not make Quay auto build. We should also upload images to Docker Hub, which means it is best if we build images in the GitHub Actions workflow than depend on Quay auto-builds.

[2020-06-04 09:42] stianst commented on #620
@abstractj as part of making Louketo support multiple OIDC vendors it is important that it does not hard-code endpoints, and it should use end_session_endpoint from the Discovery URL as stated here. No assumption can be made on auth/token/logout or any endpoint and these should all be loaded from the Discovery URL.

[2020-06-04 09:52] JoelSpeed commented on #609
@stianst Could you explain your motivation for this? What drawbacks does building within the image bring?

[2020-06-04 10:03] obdeijn opened #631 "Test function TestGetWithin randomly fails"
# Test function TestGetWithin randomly fails

## Summary
When I run the test suite using "make test" I sometimes run into the following failing test:
[code]
Other times it succeeds:
[code]

## Environment
- OS: Mac OS
- Kernel: Darwin AEO.local 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64
- go version 1.14.3
- Server: none
- Louketo:

[2020-06-04 10:12] stianst commented on #609
As part of a release you need to build the binary, then build the image. Building the binary twice means there can be differences in the distributions, but also means that you end up requiring to build the binaries twice when doing a release.

I'll twist this around and ask you what are the benefits of building the binaries within the container?

[2020-06-04 10:19] JoelSpeed commented on #609
That makes sense, though I would have thought that there shouldn't be differences between building the same binary twice? In OAuth2 Proxy for example, we call `make build` within the Dockerfile builder image (multi-stage) so the command creating the build should be the same inside and outside the container

It can be less error prone in my experience, for example, what happens if a mac user is bui

[2020-06-04 10:24] jangaraj commented on #609
+1 about building it inside the image. I use the same. Builder image defines only major Golang version (e.g. `golang:1.14`) so weekly CI builds use the latest minor golang versions automatically. Some my users need standalone binary, so I just start container at the end of CI build and run `docker cp` to get binary from the image = standalone binary is the same as binary included in the Docker ima

[2020-06-04 10:30] gps035 commented on #620
Basically what @stianst said is the motivation. Currently the logouts make an assumption about the logout url, and that assumption is incorrect for the internal auth server we have (I believe it is based on https://github.com/IdentityServer/IdentityServer4, or possibly 3, but I can't confirm as it is owned by another team).
As for the environment, it is currently running in docker, the image being

[2020-06-04 11:21] stianst commented on #609
Building within the image makes perfect sense for developers - what could make most sense is to by default build in the image with a multi-stage build (as to be multi-stage as you don't want Go, etc. installed in the final image), then for releases we can add a build-arg that allows overriding that behaviour and instead add the binary from the release build. Extracting the binary from the image is

[2020-06-04 11:47] #615 closed

[2020-06-04 11:47] #627 closed

[2020-06-04 13:22] ASzc commented on #609
Building inside and extracting is acceptable for avoiding two builds. We'd have to see if Github Actions can support that to implement #616-like behaviour with that modification.

However, if louketo is productised in the future, it will have to be built in the traditional fashion: build binary, then build container. Build-in-image can't be locked down enough, or access the right alignment tools,

[2020-06-04 13:24] ASzc commented on #629
That would work from a sorting perspective.

[2020-06-04 17:15] abstractj commented on #631
@obdeijn I could not reproduce the steps you mentioned. Here is my environment:

### Environment

- Linux version 5.6.14-300/Fedora 32
- go version go1.14.3 linux/amd6
- Louketo tag: 10.0.0 and also tried with master

### Steps

- Ran `make test` several times with no errors
- Ran `go test -run TestGetWithin` and also got no errors

@ASzc whenever you get the chance, could you please double check?

[2020-06-04 17:30] ASzc commented on #631
Looking at the code of the test and `getWithin`, I think it's possible for the reported failure to occur if the test is executed at the wrong fraction of a second, so that the second rolls over between the test initializing and the function under test being called. This could be due to the usage of `time.Now()` in both places.

 I'm not sure what the solution could be yet. For now I'll write somet

[2020-06-04 17:31] abstractj commented on #569
@andrsp we've been busy moving Louketo to a new org. But your PR will be properly reviewed once we reproduce the steps you provided. I didn't had the chance do try the changes from #492 yet, but looking at the code, certainly tests will be required.

[2020-06-04 19:01] abstractj commented on #629
@ASzc @stianst I just tweaked Alex's script to:

[code]

Below is the outcome:

![](https://imgur.com/dNknRRd.gif)

If you guys agree about this I will move forward with the changes.

[2020-06-04 19:27] ASzc commented on #629
If the script is to avoid touching already converted tags, then the grep pattern should be `-Gatekeeper$`

[2020-06-04 19:58] ASzc commented on #631
I haven't been able to reproduce, leaving the test going on loop for a while. I think it's still an issue, but only with the test. The `getWithin` function doesn't seem to really be used anywhere that needs super precision, and its callers also aren't also calling `time.Now()`.

I suggest we just make the equality assertion in the test fuzzy, e.g. equals within 1000000000 units. That way if the fr

[2020-06-04 21:13] abstractj commented on #629
@ASzc using `grep -v '-Gatekeeper$'` returns an invalid pattern here. Maybe we should just change to `grep -v '*-Gatekeeper$'`. Wdyt?

[2020-06-04 21:20] abstractj commented on #631
@ASzc sure, go for it.

[2020-06-04 21:21] ASzc commented on #629
Oh, oops, that's because grep needs `-e` before a pattern that starts with a `-`, to avoid interpreting the pattern as arguments. Prepending `.*` is also a valid workaround.

[2020-06-04 21:30] rickyschechter commented on #545
I support this request big time, I strongly need this.
Both the options mentioned above would at least allow me to configure (docker swarm stack) 1 gatekeeper per idp and in my opinion it is much better than having to add one **keycloak** **realm** per idp (using the "Identity Provider Redirector" defaulting to such idp.
Today for that I have the following config instead: "--discovery-url=http://k

[2020-06-04 21:39] abstractj commented on #629
Thanks @ASzc. Script updated:

[code]

### Outcome

![](https://imgur.com/6zw7Vad.gif)

@stianst if you agree, I believe now we're good to go.

[2020-06-04 22:10] abstractj commented on #631
Marking it as enhancement as we were not able to reproduce any bug.

[2020-06-04 22:42] abstractj commented on #620
@gps035 what you and @stianst makes perfect sense to me now, thanks for clarifying. I will give your PR a try tomorrow, meanwhile would you like to be the reviewer of https://github.com/louketo/louketo-proxy/pull/630 ? Just give it a try to make sure that things are working as expected?

[2020-06-05 10:50] stianst commented on #629
LGTM

[2020-06-05 10:53] stianst commented on #609
With that in mind I would suggest we go with some sort of build argument where you can either build within image for dev purpose, and at the same time build by supplying the binary for release/productization purposes.

[2020-06-05 11:51] FireDrunk opened #633 "[Design Discussion] Multi Vendor Support"
# Title
Multi Vendor Support
## Summary
As a result of https://github.com/louketo/louketo-proxy/pull/625, it's important to have a community driven design discussion on how to support multiple claim 'sets' from different vendors.

## Why?
To support multiple 'upstream' IDP setups (for example, Keycloak, Azure, AWS, Google and other OIDC Providers. We need to come up with a solid design on how to e

[2020-06-05 13:20] abstractj commented on #629
Thank you. The changes were applied, so I'm closing it.

[2020-06-05 13:20] #629 closed

[2020-06-05 13:55] ASzc commented on #609
The description is somewhat ambiguous on this point: Are we looking for the Dockerfile and associated kube yamls to end up in the louketo-proxy repo, or in a separate repo under the louketo organization?

Thinking about it from a prod build perspective, it is convention that the two are separate, but I think it could be accommodated if they were in the same repo.

[2020-06-05 14:06] abstractj commented on #609
@ASzc That was just an initial idea, but I trust on your judgment, feel free to change the description to what you think it's best.

[2020-06-05 15:54] #631 closed

[2020-06-05 19:00] abstractj commented on #577
Superseded by https://github.com/louketo/louketo-proxy/issues/598

[2020-06-05 19:00] #577 closed

[2020-06-05 19:03] abstractj commented on #585
I could not reproduce the steps mentioned in this issue and it seems like a configuration issue. Using `server-write-timeout` solves the issue.

[2020-06-05 19:03] #585 closed

[2020-06-05 19:15] abstractj commented on #573
That's no longer the case as we already build Louketo with go 1.14. But if in the future someone, hit any issues, please reopen.

[2020-06-05 19:15] #573 closed

[2020-06-05 19:29] abstractj commented on #579
Unauthorized access should be logged as errors, but nothing prevents us from revisit this idea in the future.

[2020-06-05 19:29] #579 closed

[2020-06-05 19:33] abstractj commented on #576
Thanks for reporting it back. For now I'm closing this issue, as this seems more like a Docker configuration issue, instead of an issue on Louketo.

@ASzc maybe the introduction of `nsswitch.conf` is something that we can take into consideration for #609 to prevent issues like this. But I will leave that up to you.

[2020-06-05 19:33] #576 closed

[2020-06-05 19:37] abstractj commented on #587
This refers to Gatekeeper 7.0.0 and the issue was fixed in Gatekeeper 10.0.0 https://github.com/louketo/louketo-proxy/commit/008527a818093e758dc1d7246dc35bc495d395be.

[2020-06-05 19:37] #587 closed

[2020-06-05 19:49] abstractj commented on #545
@rickyschechter would you like to give this PR a try https://github.com/louketo/louketo-proxy/pull/495 to see if it covers what you need? It's still incomplete and it requires more testing, but you are welcome to provide some feedback there.

[2020-06-05 21:16] thalesvalias commented on #531
This is exactly what I need. I've posted earlier to the forum my use-case. My application expects a header named X-User, so X-Auth_User won't do:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/louketo/b-1-pv7TGi4/bzr-YrFbAgAJ

[2020-06-08 13:57] lathspell opened #635 "OpenTracing / Jaeger / Zipkin support?"
## Summary

Are there any plans to support OpenTracing or Zipkin's X-B3-Header?

## Why?

Would benefit debugging as Gatekeeper ist usually just one of many proxies and apps a request goes through.

## How

Maybe using https://github.com/opentracing/opentracing-go

## Acceptance criteria

OpenTracing or B3-HTTP-Header are injected if not presend.

[2020-06-08 14:02] lathspell opened #636 "What happened to the *Keycloak* Gatekeeper project?"
I was looking for the Keycloak Gatekeeper project but redirected here. Maybe you could add a note why Gatekeeper has a new name and who "louketo" is?

[2020-06-08 14:11] abstractj commented on #636
@lathspell Gatekeeper was renamed to Louketo and moved to this organization. All the details are here:
- https://groups.google.com/d/msg/keycloak-dev/oDyw94BWxM0/zc0J9R10BwAJ
- https://groups.google.com/d/msg/keycloak-dev/vj4OtXPyMRo/bRg-vm1bEAAJ

If you have any other questions, please let us know. For now, I'm closing this issue.

[2020-06-08 14:11] #636 closed

[2020-06-08 14:28] lathspell commented on #636
Why not write a little note at the front page and the Keycloak page as well. Just to reassure people that their favourite OAuth proxy hasn't been hijacked. Also this would give it some credability as nobody has yet heard of Lou Keto...

[2020-06-08 15:43] abstractj opened #637 "Louketo Proxy Logging"
# Louketo Proxy Logging

* **Status**: Notes
* **JIRA**: [KEYCLOAK-12100](https://issues.jboss.org/browse/KEYCLOAK-12100)
* https://github.com/louketo/louketo-proxy/issues/561
* Author: @Madankapoor

## Motivation

Louketo Proxy currently is setup with logging with production configuration or verbose configuration.
Adding further configuration options to specify below details would allow better se

[2020-06-08 19:14] abstractj commented on #635
@lathspell there's nothing planned at the moment, but I'd be more than happy to review a design proposal. @stianst what do you think?

[2020-06-08 21:11] ASzc commented on #609
Filed a PR #638

[2020-06-08 22:08] abstractj opened #639 "Release notes for 1.0.0-alpha.1"
Tag version: 1.0.0-alpha.1
Release title: 1.0.0-alpha.1

Today, we are happy to announce the first release of Louketo. As planned [some time ago](https://groups.google.com/forum/#!msg/keycloak-dev/oDyw94BWxM0/zc0J9R10BwAJ) the Gatekeeper repository was renamed to Louketo Proxy and now has a new home. This will enable us to build together with the OSS community a neutral and fully standard-based pr

[2020-06-08 22:08] abstractj commented on #639
@ASzc @stianst could you please review the release notes that will be published tomorrow? The changelog should be automated, but I found a bug that we need to fix in the next releases.

[2020-06-08 23:44] cowlingj commented on #539
Rather than skipping the verification entirely, It could be nice to pass an `issuer-url` option and have issuer verification use that instead

[2020-06-09 07:04] lathspell commented on #635
Have a look at this fork which already implements it. The pull request sadly includes unrelated stuff as well but the tracing.go file looks pretty easy: https://github.com/oneconcern/keycloak-gatekeeper/pull/27

[2020-06-09 07:35] mreinli commented on #539
Gatekeeper does not start if the Issuer returned from the discovery endpoint is not matching the URL defined as discovery-url in the Gatekeeper config. This is a bug as noted by OP in Kubernetes environments you reach the discovery endpoint with a different URL than defined as Issuer (which is the public accessible URL). It is not compatible with the Frontend URL feature of Keycloak. For me this i

[2020-06-09 10:41] sankarp-kavach commented on #578
@abstractj @gboor I came here from https://issues.redhat.com/browse/KEYCLOAK-9099 I am not sure how disabling redirect will solve the problem here. Consider the following scenario.

1) An application is deployed in http://app.example fronted by gatekeeper
2) The gatekeeper on first visit to the url, detects no session and redirects to the keycloak login page
3) Now after logging in, the same url i

[2020-06-09 13:34] ASzc commented on #639
Will the release automation accept a version with a qualifier? I know it didn't like a pure alphabetic tag when I tested it before.

Technically if we want "OSGI format" (if that even makes sense in the context of golang), then `1.0.0-alpha.1` would be better represented as `1.0.0.alpha-1`. That's from Java-land though, not sure if Go likes four-part versions.

I notice you're missing `a0cad52 Mig

[2020-06-09 16:01] abstractj commented on #639
@ASzc thanks for reviewing it Alex. `1.0.0.alpha.1` complies with the semantic version specification. So we should be good to go.
See: https://semver.org/#spec-item-9 and https://semver.org/#spec-item-11

Regards `3f64894 Make equality fuzzy in TestGetWithin (#631)`, it's the first item in the changelog. But please let me know if any other thing should be updated.

About `a0cad52 Migrate Gatekeepe

[2020-06-09 16:55] abstractj opened #640 "Template for design proposals"
## Summary

We should provide a template for new design proposals. In this way we can let people know what we expect, prior to
review and accept it.

## Why?

Using templates encourages a more formal approach for design proposals

## Acceptance criteria

* When creating a new issue, the option to create a new design proposal is displayed for developers

[2020-06-09 17:20] abstractj commented on #640
@stianst do you think it makes some sense?

[2020-06-09 17:31] abstractj commented on #633
@FireDrunk I believe the first thing we need to do is to narrow the scope, which means reducing the number of providers and decide which one we would like to support in the first releases.

So here are few steps that I can think about:
1. Make the design pluggable in the sense that people could contribute with more providers if needed
2. At the moment Keycloak is already supported, so we can think

[2020-06-09 17:49] abstractj commented on #639
Resolved and released here https://github.com/louketo/louketo-proxy/releases/tag/1.0.0-alpha.1

[2020-06-09 17:49] #639 closed

[2020-06-09 18:01] abstractj commented on #635
@lathspell if this is something that you would like to propose or implement, please start a design proposal. So we can discuss the motivation and the use case scenarios for this.

For now I'm closing this issue, as your question was already answered. But please reopen, if that's not the case.

[2020-06-09 18:01] #635 closed

[2020-06-09 22:05] paoloantinori opened #641 "Help - Adapt old Gatekeeper config to Louketo"
# Title
Help - Adapt old Gatekeeper config to Louketo

## Summary

I have a configuration that was valid in KC Gatekeeper but that seems not to be working with Louketo and I cannot see what should be done differently.

## Environment

## Expected Results
The last call of the provided scenario should return the content served by the protected server.

## Actual Results
[code]

## Steps to reproduce

[2020-06-10 06:37] stianst commented on #633
As long as the "provider" is an OIDC compliant provider it should be possible to use any IdP vendor without a "provider" in Louketo, as it should just be a convenience thing (basically a set of standard config).

For any "providers" we have there needs to be a maintainer and also a test-case that confirms integration with that provider.

I wonder if since it's really a matter of some convenience d

[2020-06-10 11:18] gboor commented on #578
@sankarp-kavach that indeed would require a per-url config for this setting. I don't run into this issue, because my front-ends and back-ends are always separate.

@abstractj I don't know if this is in scope at all, but it might be worth reopening the ticket if there are any future plans for something like this. One option might be to detect AJAX headers, though that would not work for gRPC reques

[2020-06-10 11:25] cowlingj commented on #539
After more playing around with this, I found the combination of keycloak's `frontendUrl` option and both the `discovery-url` and `openid-provider-proxy` work.

1. Set the `frontendUrl` (for keycloak) to whatever the url is external to the cluster (this is our public issuer url) (e.g. `http://localhost:3000/auth/`)
2. Set the `discovery-url` as if keycloak was being accessed outside of the cluster

[2020-06-10 11:35] FireDrunk commented on #633
@abstractj Pluggable is fine, but I would think it's easier to have a 'hard linked' file structure, than a full plugin architecture. My take would be: files that are directly linked, but not executed by default.That would seem to me as the easiest way.

I'm not sure if 1 file per vendor would be better, there might be different phases in which we want to do something vendor specific, maybe we shou

[2020-06-10 22:57] abstractj commented on #641
@paoloantinori I just followed the steps you mentioned and this is what I get when I run curl:

[code]
Which makes sense, if I go to `http://localhost:8083` I'm prompted with the Keycloak login screen and right after login I can see Apicurio. Please let me know if there's anything else I should try.

[2020-06-10 23:05] abstractj commented on #641
@paoloantinori right after adding some comments here, I decided to investigate more and this is what I did:

### curl

[code]

### Output
[code]

[2020-06-10 23:15] bogbert opened #642 "Gatekeeper uncompresses the responses returned by the upstream server"
# Title

Gatekeeper uncompresses the responses returned by the upstream server

## Summary

If the upstream server response contains the "content-encoding: gzip" header, Gatekeeper removes the header and uncompresses the response before passing it downstream

## Environment
- OS: Centos 7.7
- Kernel: Linux 3.10.0-1062.9.1.el7.x86_64
- Server: Keycloak 9.0.3
- Louketo: tested with 9.0.3 and 10.0.0

[2020-06-11 08:13] paoloantinori commented on #641
Thank you!

So with your help I've managed to pinpoint the **difference**:

with the old Gatekeeper (`docker.io/keycloak/keycloak-gatekeeper` corresponding to SHA `443cda327f52`),
I didn't need to pass `-H "Accept: application/json"` header to `curl`.

That's the main difference.

It seems that `quay.io/keycloak/keycloak` vs. `keycloak/keycloak-gatekeeper` is not the differentiator, although I wil

[2020-06-11 08:28] paoloantinori commented on #600
I've updated the tutorial to use Louketo binaries in the meanwhile, thanks to the help received here: https://github.com/louketo/louketo-proxy/issues/641

If I can give you an example for a variation of this quickstart:
- spend a comment on the life span of the tokens, so that "slow" users won't be surprised if curl stops working after a while
- point out how in areal reverse proxy setup, the acce

[2020-06-11 15:49] ASzc commented on #576
In #638, with UBI, there will be a `/etc/nsswitch.conf` file present in the image. It's host line is the following:

    hosts:      files dns myhostname

Which I think is acceptable as far as this issue goes, so no further action is required, unless in the future we go to `scratch` or similar options.

[2020-06-12 00:48] ASzc commented on #541
Should be addressed by #638

[2020-06-15 14:03] ivorywang opened #644 "Having trouble running make docker-build"
# Title
make docker-build errors out with go problems

## Summary

Attempting to build the docker image locally seem to be running into go related issues

## Environment

- OS: Fedora 30
- Kernel: Linux rkimmel-dt 5.3.7-200.fc30.x86_64 #1 SMP Fri Oct 18 20:13:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Go: go version go1.12.9 linux/amd64
- Louketo: Testing with 9.0.2

## Expected Results

Docker

[2020-06-15 16:51] #644 closed

[2020-06-15 16:52] ivorywang commented on #644
Turns out you can only develop on the develop branch because otherwise the dockerfile is deleted. Not my favorite practice tbh, is this documented somewhere?

[2020-06-15 18:28] #541 closed

[2020-06-15 18:28] #609 closed

[2020-06-16 13:49] pahrens opened #645 "Gatekeeper prevents streaming output"
# Gatekeeper prevents streaming output

## Summary
I have a PHP based website that has a feature that sends already partly output to the requester. Below you can find a simple php example for this logic.
[code]
When using Gatekeeper before this website with this feature, only the complete output is displayed at the requester and not already the parts of the output.

## Environment

- I'm using the

[2020-06-16 19:15] abstractj commented on #530
Resolved by #608

[2020-06-16 19:15] #530 closed

[2020-06-17 10:38] wenerme commented on #529
Keycloak 10.0.2

[code]

args

[code]

[2020-06-17 12:31] borisovj commented on #529
Hello got the same issue:

Keycloak 10.0.2

          args:
            - --listen=0.0.0.0:10000
            - --discovery-url=https://<keycloakpage>/auth/realms/<myrealm>
            - --client-id=<myrealm>
            - --client-secret=xxx
            - --secure-cookie=false
            - --encryption-key=xxx
            - --enable-refresh-tokens=true
            - --enable-default-deny=false

[2020-06-18 14:43] abstractj commented on #606
@Ryonez @freiit should be fixed now. But please reopen, if that's not the case.

[2020-06-18 14:43] #606 closed

[2020-06-19 07:38] muralisathenapalli opened #646 "Scope based authorization"
Hi,

I am trying to impose authorization on my python API using keycloak. as per the documentation, louketo supports role-based authorization for API URI's. is there a way in which it can do scope based authorization?.

Thanks in advance

[2020-06-19 09:34] visagey opened #647 "Git through Louketo proxy is broken"
# Title

Git through Louketo proxy is broken

## Summary

My Git server is behind a Louketo Proxy, but unfortunately, I cannot clone/push/pull Git repositories through Louketo (clones fail), while it works when I do not use Louketo.

## Environment

- OS: CentOS 7
- Kernel (e.g. `uname -a`): 3.10.0-957.1.3.el7.x86_64
- Server (e.g. Keycloak or any other IdP): Keycloak 10.0.2
- Louketo: 1.0.0-alpha

[2020-06-19 19:50] abstractj commented on #548
Resolved by #533

[2020-06-19 19:50] #548 closed

[2020-06-19 19:51] abstractj commented on #642
@bogbert #533 should resolve your issue. Could you please confirm?

[2020-06-19 19:55] abstractj commented on #553
Closing it as out of date, due to the lack of response.

[2020-06-19 19:55] #553 closed

[2020-06-22 13:42] #518 closed

[2020-06-22 14:20] bogbert commented on #642
No, the commit #533 doesn't resolve the issue.
Without setting "enable-compression: true" or without passing the header "Accept-Encoding: gzip" in the request, the proxy behaves the same way as before.
When setting "enable-compression: true" and passing the header "Accept-Encoding: gzip", all response bodies are returned compressed, even when the upstream server returns an uncompressed body. Maybe

[2020-06-24 05:12] shaunc opened #648 "Helm chart?"
# Title

## Summary

I would like to install via a helm chart. I see there is an old keycloak-proxy chart. Is there any plan to upgrade/replace this?

## Why?

Helm is a standard way to deploy to kubernetes.

## How

 I see you recently added a Dockerfile, and some manifests. Are these going to be packaged into a chart? Any visibility as to when?

## Acceptance criteria

## Additional Information

[2020-06-25 19:17] xeor commented on #524
This is one of the few thing I miss. Would love to see this implemented so I can get rid of some complexity (a dedicated nginx reverse proxy).

[2020-06-25 19:28] xeor opened #649 "vhost in resources[].uri"
# vhost in resources[].uri

## Summary

It would be useful to be able to specify a hostname in the resource-uri field so you could point multiple domains at louketo-proxy.

## Why?

It would make configuration like this simpler.

[code]

Instead, we could do:

[code]

or specify the whole domain.

It's much easier to setup services as separate sub-domains than on dedicated sub-paths. Often, sub-pa

[2020-06-25 20:26] abstractj commented on #524
@xeor @chirino submitted a PR for this https://github.com/louketo/louketo-proxy/pull/526. If you would like to give it a try and provide some feedback, you are more than welcome

[2020-06-25 20:28] abstractj commented on #648
@shaunc this is out of the scope for the Louketo project. If this is something that you would like to see included, I'd suggest to create an issue at https://github.com/helm/charts or submit a PR.

[2020-06-25 20:28] #648 closed

[2020-06-25 20:30] abstractj commented on #649
@xeor it seems to me like a duplicate of https://github.com/louketo/louketo-proxy/issues/524. Could you please confirm and close?

[2020-06-25 20:37] xeor commented on #649
@abstractj this is not a duplicate.. This is about adding domains as a valid resource-url. #524 is about adding different endpoints per resource.

A single upstream can handle multiple hosts now as well by using `--preserve-host=true`, but you can't use it for anything useful, since you are can't specify which roles should be valid per host (since you can only specify resources based on url-paths)

[2020-06-25 23:18] shaunc opened #650 "white-list resource not working from cli"
# Title

## Summary

When specifying a white-listed uri on the command line, I get an error. For instance, if I pass (from doc example):
[code]
I get:
[code]

## Environment
- OS: docker image quay.io/louketo/louketo-proxy running in kubernetes
- Server (e.g. Keycloak or any other IdP): keycloak 10.0.0
- Louketo: 1.0.0-alpha1
-->

## Expected Results

white-listed route

## Actual Results

error

[2020-06-25 23:25] shaunc commented on #650
Aha -- the quotes are for a shell; are meant to disappear. I shouldn't be specifying in helm chart. Apologies!

[2020-06-25 23:25] #650 closed

[2020-06-26 13:34] vishalgoel1988 opened #651 "Keycloak Gatekeeper to support access_token in query param (required for WebSocket)"
# Title

## Summary

WebSocket in JavaScript does not support Headers. This causes the authentication to be not possible via Keycloak Gatekeeper.
I am proposing a solution where token can be passed as "access_token" query param which keycloak gatekeeper can read and do the authentication.
Same thing is supported in Keycloak Java adapter.
## Why?

## How

## Acceptance criteria

## Additional Infor

[2020-06-26 15:53] belindac-vd opened #652 "431 Request header too large error when accessing protected resource"
# Title
431 Request header too large error when accessing protected resource

## Summary
We have a few websites in a kubernetes cluster configured behind Keycloak Gatekeeper. The sites work for most people where the number of keycloak roles they have is small. As an admin or where people have a larger number of roles, the sites are not accessible due to a 431 error (Request Header Fields Too Large

[2020-06-26 16:20] jangaraj commented on #652
That is not a real issue of the Louketo-proxy. It is a problem of:
1.) IDP admin - why token needs to contain many user roles, when only a few roles are used for authorization usually. Keycloak offers LDAP filtering, so IDP admin can limit number of roles in the token on the client level easily.

OR

2.) Infrastructure admin - why infrastructure (in your case is probably nginx ingress) is not prep

[2020-06-29 07:56] escoand opened #654 "Unable to deny access to only some files in subfolders"
# Title
Unable to deny access to only some files in subfolders

## Summary
It's no completely clear how to set multiple resources parameter correctly when using wildcards. My current configuration is this:
[code]

## Environment
Version of everything that it's running in your environment:
- OS: Ubuntu
- Kernel (e.g. `uname -a`): `Linux 82bac00f-fd21-483a-4cc6-c0e0 4.15.0-106-generic #107~16.04.1-U

[2020-06-29 08:12] jangaraj commented on #654
But you are whitelisting a bunch of resources. Why?
[code]
Why not only?:
[code]

You will get deny response only, when role is defined per resource defined AND that roles is not in the user access token. So I would try to define "deny" wild resource and that explicitly whitelist selected resources.
[code]
It may need more tweaking.

[2020-06-29 08:51] belindac-vd commented on #652
Thank you for your help - turning off the full scope in keycloak has resolved my issue.

[2020-06-29 08:51] #652 closed

[2020-06-29 15:50] escoand commented on #654
I meant `index.html` in subfolders, `menu.html` in subfolders and `*.css` in subfolders. This files should be accessible without login, but not the other files in subfolders.

Obviously my question was a bit misleading. With "deny" I meant "redirects to login".

[2020-06-29 18:43] michidk opened #655 "State config file path in the documentation"
What is the path for the config file, when not configuration using CLI args?

I can't find it in the docs.

[2020-06-29 21:51] jangaraj commented on #655
There is no default config file location.

[2020-06-30 00:41] AMoghrabi commented on #540
@rogerioefonseca May I ask how you got it working with Azure AD?

My problem is that Azure expects the client ID to have `spn:` prepended to it. The proxy does not like that though:

[code]

Likewise, if I remove `spn` from the keycloak `client_id`, then keycloak works fine but the token generated will not work because the api-server expects the `spn:` portion.

Would appreciate your guidance.

[2020-06-30 04:19] vishalgoel1988 commented on #651
Hi
Any help here please?
How does GK support WS authentication?

[2020-06-30 07:04] michidk commented on #655
How can I then specify a path to load the config file?

[2020-06-30 07:13] jangaraj commented on #655
https://github.com/louketo/louketo-proxy/blob/c50082152a87e4bee9d34ef7ab00bf4db7a9769f/cli.go#L53-L57

=> You can't specify just path - directory

It looks like you are expecting old school approach, where app has own config file somewhere (`/etc/app/...`) and it has hardcoded path to that config file. That is not a case here. You can use env variables (not for all config options) OR parameters OR

[2020-06-30 07:21] michidk commented on #655
So if I understood that code correctly, I can specify one (or multiple) config-file with the `--config` flag?
I think that should be documented in the documentation rather just in code.

[2020-06-30 08:07] rogerioefonseca commented on #540
So, @AMoghrabi honestly I'm just using the **client_id** from the Azure apps code and passing this parameter as ENV variable, I did not had any blockers regarding to SPN.
To put us on the same page, I'm using this image: quay.io/keycloak/keycloak-gatekeeper:8.0.1 as a NodePort on k8s Cluster and passing the parameters as variables like for example:
[code]

[2020-06-30 15:25] AMoghrabi commented on #540
Thanks @rogerioefonseca , appreciate it.

Seems like I'm using the same parameters except I'm passing them in as `args`, not environment variables. I'll try it your way regardless.

I tried targeting version 8.0.1, no luck.

May I ask if you're in the cloud or on-prem?

Thanks!

[2020-06-30 19:48] jangaraj commented on #655
Yeah 🤞. Please check `-h` in the CLI to see all config options, supported env variables. That is IMHO the best doc.
[code]

[2020-07-02 14:58] mriedmann commented on #588
As far as I understood, this problem is related to #630. Is there, now that the oauth2 lib update is merged, any foreseeable timeline on this issue? Thx!

[2020-07-02 21:45] yuripastushenko opened #656 "Unable to retrieve new kc_access token"
# Title
Unable to retrieve new kc_access token

## Summary
I am using louketo-proxy ad middleware between DEX and kubernetes dashboard.
When I open the kubernetes dashboard trough louketo-proxy I am redirected to DEX.
I fill in the login form with my credentials - and I am redirected to kubernetes-dashboard.
In cookies I don't see kc-state (there is kc-access).
When the token expires, it is not re

[2020-07-03 08:29] nabadger opened #657 "x509: certificate signed by unknown authority when using v1.0.0"
# Title

x509: certificate signed by unknown authority (1.0.0)

## Summary

I'm finding that since switching from `quay.io/keycloak/keycloak-gatekeeper:10.0.0` to `louketo/louketo-proxy:1.0.0` I get 403 errors when attempting to auth.

Reverting to `gatekeeper:10.0.0` works.

There are no other configuration changes happening here (just the image).

## Environment

Version of everything that it's

[2020-07-03 08:45] jangaraj commented on #657
It looks like `Move from coreos/go-oidc OAuth2 library to golang.org/x/oauth2` doesn't work with `skip-openid-provider-tls-verify` config.

[2020-07-03 17:41] abstractj commented on #588
@mriedmann this issue was reported prior to the merge of #630. But if you would like to test it, it's possible to give a try the earlier releases of Louketo or Gatekeeper.

If this is something you would like to work or fixes, PRs will be more than welcome.

[2020-07-03 17:48] JulesTriomphe opened #658 "Configuration for Traefik ForwardAuth"
# Configuration for Traefik ForwardAuth

## Summary

I'm running Keycloak, Louketo, Traefik and a WhoAmI container in docker swarm. After configuring everything, I am able to authenticate with my IdP (Keycloak), but there is a redirection error, so I am unable to access the WhoAmI container.

## Environment

Docker version 19.03.12, build 48a66213f
docker-compose version 1.24.0, build 0aa59064
Key

[2020-07-03 18:05] jangaraj commented on #658
Could you provide english error message  (e. g. use browser with english language) and request flow from the browser network console (blind guess: there is many redirects between app and idp).

[2020-07-03 18:09] vishalgoel1988 commented on #651
Any help here please? This is quite important to us.

[2020-07-03 20:48] JulesTriomphe commented on #658
There are indeed many redirects between the app and the IdP. [HAR file is attached : auth.whoami.example.com.txt](https://github.com/louketo/louketo-proxy/files/4871412/auth.whoami.example.com.txt)
Here is the error message from Chrome (in English) :
![image](https://user-images.githubusercontent.com/35426973/86496797-35d6fe80-bd7f-11ea-91d7-fd6c14fcf369.png)

Thanks a lot for your help !

[2020-07-04 15:12] adpande commented on #567
I am also facing the same issue.

[2020-07-04 15:38] nabadger commented on #657
@jangaraj I think it's not passing in the desired context here

https://github.com/louketo/louketo-proxy/blob/master/oauth.go#L134

The provided  context is what can be used to control which http-client is used. Suspect it's using a default one.

[2020-07-06 08:19] rogerioefonseca commented on #540
I'm sorry about the delay in the reply, but we are using a cloud solution.
:)

Rogério Esteves Fonseca
teccross.com.br
+55 61 9828-4163
skypeId: rogerio_fonseca4

Am Di., 30. Juni 2020 um 17:25 Uhr schrieb Ali Moghrabi <
notifications@github.com>:

[2020-07-07 07:20] hstejas opened #659 "Additional CA for identity provider"
# Title
Additional CA for identity provider

## Summary
https://github.com/louketo/louketo-proxy/issues/256 seems to add support for custom CA for upstream, but the same is not considered for identify provider

probably the same configuration can be used for discovery url or a different parameter can be provided (openid-provider-ca-certificate)

## Why?

This will be helpful when identity provider

[2020-07-07 19:47] tobiasbenkner commented on #529
same here

[code]

[2020-07-07 22:04] crubier opened #661 "Wildcard in middle of resource url whitelist pattern don't work"
# Wildcard in middle resource of url whitelist pattern don't work

## Summary

Trying to run the proxy with the following arguments

[code]

Gives exactly the same result as

[code]

Which means that all resources under `_next/static/` get blocked.

## Environment

Docker Image `bitnami/keycloak-gatekeeper:9` on Kubernetes

Other arguments used:

[code]

## Expected Results

## Actual Results

`/_

[2020-07-08 05:34] escoand commented on #654
I think the stripped down question is: in which order are these resources evaluated and does is stop after the first match?

[code]

[2020-07-08 05:37] escoand commented on #654
Maybe the problem is related with #661 and this is the only problem.

[2020-07-09 10:14] pawneeranger commented on #546
Is there anybody working on that feature right now ?

[2020-07-10 06:56] devopsix commented on #539
@cowlingj I have updated my original example to louketo-proxy:1.0.0 and keycloak:10.0.2 and tried using the `openid-provider-proxy` option. It seems I get one step further now but I cannot seem to authenticate successfully.

Given the attached [docker-compose.yml](https://github.com/louketo/louketo-proxy/files/4901495/docker-compose.zip) in your current working directory.

1. `docker-compose up -d

[2020-07-10 09:56] cowlingj commented on #539
@devopsix what have you set `openid-provider-proxy` to? The error in the logs suggests that gatekeeper is trying to access the wrong url.

[2020-07-10 12:32] devopsix commented on #539
I use `--openid-provider-proxy=http://keycloak:8080`.

Without that option louketo-proxy would fail to start as originally described:

[code]

The the attached [docker-compose.yml](https://github.com/louketo/louketo-proxy/files/4901495/docker-compose.zip) shows all options:
[code]

[2020-07-14 21:53] ghmer commented on #583
%3D is also not a valid base64url encoding.
Only difference between base64 and base64url is that instead of "+" and "/", base64url uses "-" and "_" as 62/63 available character. Both encodings use a 'normal' equal sign ('=') for padding.

The %3D is URL encoding, but that has got nothing to do with base64url encoding

[2020-07-15 13:28] thomas-jakemeyn opened #662 "Proxy is not compatible with new token revocation endpoint of Keycloak 10"
# Proxy is not compatible with new token revocation endpoint of Keycloak 10

## Summary

[Starting from the version 10.0.0](https://www.keycloak.org/docs/latest/release_notes/#oauth-2-0-token-revocation-rfc-7009), Keycloak exposes a new [token revocation endpoint](https://www.keycloak.org/docs/latest/securing_apps/#_token_revocation_endpoint) that implements the [RFC 7009](https://tools.ietf.org/p

[2020-07-16 17:01] sub6as commented on #658
does it work in Firefox?

I've noticed the same behaviour in Chrome but it works in Firefox

Chrome is blocking set cookie as the cookie is marked as secure but sent via http

[2020-07-16 20:32] sandeepbangera opened #663 "Authorization header is passed to upstream endpoint if it is passed on the client side though enable-authorization-header=false"
# Title
Authorization header is passed to upstream endpoint if it is passed on the client side e.g. using curl though enable-authorization-header flag is set to false. This causes issues for upstream endpoints like grafana which act on the authorization header if passed.

## Summary

Tried accessing grafana API endpoint which is front ended by louketo proxy and API access FAILS because the proxy p

[2020-07-17 06:53] JulesTriomphe commented on #658
It does not work in Firefox either (cf. the first screenshot).
The error message says the request is not redirected correctly. It suggests that the problem is a cookie problem.

[2020-07-17 08:29] crubier commented on #654
@escoand indeed, in my experience as explained in #661, `--resources "uri=/*/menu.html|white-listed=true"` is equivalent to `--resources "uri=/*|white-listed=true"`, which does explain this issue too.

[2020-07-17 15:18] zygon4 opened #664 "Non-ASCII HTTP headers are not encoded"
# Non-ASCII HTTP headers are not encoded

## Summary

Specifically we set up a username in Keycloak with a non-ASCII name and the X-Auth-Username header that Louketo injects is not correct.

## Environment

Version of everything that is running in your environment:
- Keycloak 9.0.2
- Louketo: 9.0.2

## Expected Results
Encoded HTTP Header for non-ASCII values.

## Actual Results
Header is incorrec

[2020-07-18 20:15] calind commented on #425
Hi!

Would you care to reconsider closing this?

The use case is as follows: the proxy sits in front of a git server; users should be able to clone their repos using their user/password sent using basic auth.

I see that there's as `POST /oauth/login` endpoint which allows logging in users using user/password combo (by using `password` as `grant_type`). Is there a specific reason for not allowing

[2020-07-19 22:28] shaunc opened #665 "Documentation: document all options including --http-only-cookie"
I actually went to a earlier fork because I needed http-only-cookie. Then I discovered its actually here, just not documented.

NB
I didn't use your issue templates because "documentation" issue didn't seem to be either bug or feature. It would be nice to have a "documentation" template as well.

[2020-07-20 08:58] escoand opened #666 "Binary not linked statically anymore"
# Title

## Summary
I've upgraded from `keycloak-gatekeeper version 10.0.1 (git+sha: 691bc4c, built: 08-05-2020)` to louketo-proxy 1.0.0 but failing to get it running with my previous configuration.

## Environment
- OS: Alpine Linux
- Kernel (e.g. `uname -a`): `Linux f54ee906-7482-4341-421b-d0fa 4.15.0-106-generic #107~16.04.1-Ubuntu SMP Thu Jun 4 15:40:05 UTC 2020 x86_64 Linux`
- Go (e.g. go ver

[2020-07-20 09:02] escoand opened #667 "Unable to upgrade connection when using compression"
# Title

## Summary
Combination of `--enable-compression` and upgrading connection to WebSocket is not possible.

## Environment
- OS: Alpine Linux
- Kernel (e.g. `uname -a`): `Linux f54ee906-7482-4341-421b-d0fa 4.15.0-106-generic #107~16.04.1-Ubuntu SMP Thu Jun 4 15:40:05 UTC 2020 x86_64 Linux`
- Go (e.g. go version)
- Server (e.g. Keycloak or any other IdP): Keycloak
- Louketo: 1.0.0

## Expecte

[2020-07-20 14:07] lyndon160 commented on #575
Does Gatekeeper/louketo support GRPC?

[2020-07-20 14:42] lyndon160 commented on #658
Does louketo-proxy support forward auth?

[2020-07-20 14:52] lyndon160 commented on #399
Has there been any update on this issue since 2018?

[2020-07-20 21:16] hoangdinhnarvar commented on #582
+1

[2020-07-21 08:35] mildis opened #668 "Log which timeout was hit"
# Log which timeout was hit

## Summary

When a timeout is reached, louketo send a HYTP 500 reply.
Could be useful to identify in the log which timeout has triggered this reply.
## Why?

Currently, identifying timeout means setting each of them to a different value to identify the right one.

## How

## Acceptance criteria

## Additional Information

[2020-07-21 10:53] Ryonez opened #669 "Support for REMOTE_USER Header"
# Title

Support for REMOTE_USER Header

## Summary

Allow Gatekeeper to pass a REMOTE_USER header to the backend service

## Why?

Allows gatekeeper to log users into sites which pass authentication onto the proxy/web server.

## How

The header must be named `REMOTE_USER`, username is a good default value, but being able to set other things like email would be appreciated.

## Acceptance criteri

[2020-07-21 12:26] jangaraj commented on #669
Could you try https://github.com/louketo/louketo-proxy/pull/532

E.g.:
[code]

[2020-07-21 13:07] mreinli commented on #666
Having the exact same problem here

[2020-07-21 13:13] petrkalina commented on #529
same problem here - i.,e. works with older keycloak-gatekeeper versions (verified 6.0.1), but not with newest (checked 9.0.0 and 10.0.1).

conf - using docker image with:

[code]

the code that fails in 10.0.1 is:

[code]

.. same code runs well in 6.0.1 gatekeeper..

[2020-07-21 13:41] vxavictor513 opened #670 "Missing claim: 'iat'"
# Missing claim: 'iat'

## Summary

I'm using Keycloak Gatekeeper with [IdentityServer4](https://github.com/IdentityServer/IdentityServer4) as OIDC provider, and hit the error below.

[code]

[2020-07-21 19:19] Ryonez commented on #669
The site is claiming the header is empty:
claim in gatekeeper's YAML
![image](https://user-images.githubusercontent.com/16157130/88096931-8d80c100-cbeb-11ea-9d02-b6febcb5bf42.png)

Site Response:
![image](https://user-images.githubusercontent.com/16157130/88096949-95406580-cbeb-11ea-9201-b7cfbbaa567c.png)

[2020-07-21 19:23] jangaraj commented on #669
That was only example. Make sure you have `email` claim in the access token when you want to use it
Also `email|REMOTE_USER` != `email | REMOTE_USER`. Code doesn't work with space, so don't use them, pls.

[2020-07-21 19:30] Ryonez commented on #669
Alright, thank you for pointing out the spaces.

Two questions, first, I don't know how to make sure it is in the access token. I thought `add-claims` was meant to add it and I can't see the tokens or unencrypted tokens, so I really have no idea what's happening in them.
Second, is it possible to use username in place of email? emails in my system are somewhat flexible, usernames are not.

[2020-07-21 19:32] jangaraj commented on #669
Go to helper `/oauth/token` and you will see what is available.

[2020-07-21 19:34] Ryonez commented on #669
What is helper? I'm not sure what you're asking me to look at.

[2020-07-21 19:36] jangaraj commented on #669
https://github.com/louketo/louketo-proxy/blob/master/docs/user-guide.md#endpoints

[2020-07-21 19:38] Ryonez commented on #669
`/protocol/oauth/token`

Most of my endpoints seem to be `openid-connect`, however I'm not getting info from them either.

[2020-07-21 19:44] Ryonez commented on #669
Alright, the token does have the values.

![image](https://user-images.githubusercontent.com/16157130/88099315-1f3dfd80-cbef-11ea-8bc3-13af9e522716.png)

However the site is saying the header is empty still.

[2020-07-22 01:24] Ryonez commented on #669
Is there a way to see what headers it's passing through to the backend service? Knowing what's there would not would at least give direction if it's an issue with gatekeeper or firefly.

[2020-07-22 09:41] lyndon160 commented on #658
Related issues and pull requests: https://github.com/louketo/louketo-proxy/issues/399 https://github.com/louketo/louketo-proxy/pull/501 https://github.com/louketo/louketo-proxy/pull/505

[2020-07-22 12:05] gunterze opened #671 "access forbidden with working keycloak-gatekeeper-10.0.1 configuration"
# Title
access forbidden with working keycloak-gatekeeper-10.0.1 configuration

## Summary
Get access forbidden with same ENV/CLI params which works with keycloak-gatekeeper-10.0.1

## Environment
`docker-compose.yml`:
[code]

- Keycloak client `kibana` with `audience-mapper` with **Included Client Audience**: `kibana`.
- User has required role `auditlog`.

## Expected Results
Redirect http://test

[2020-07-22 12:33] jangaraj commented on #671
That looks like https://github.com/louketo/louketo-proxy/issues/657

[2020-07-22 12:55] Adriien-M commented on #670
I have the same issue, the `iat` claim is issued only for `id_token`, for `access_token` the claim `auth_time` is used...
In the meanwhile, did you find a workaround?

[2020-07-22 16:16] JC5 commented on #669
I'm putting some pointers in the other issue. This is a relatively new feature for Firefly III as well, so I'm equally curious.

[2020-07-22 17:03] vxavictor513 commented on #670
@Adriien-M: Not really, except a brutal way to suppress the `iat` error in Gatekeeper, which I'm unsure whether it violates OIDC specs... What about you?

[2020-07-22 18:26] Ryonez commented on #669
Following JC5's information, I've been able to determine that gatekeeper is not adding the custom `REMOTE_USER` header, only the default `X_AUTH` headers.

[2020-07-22 18:35] Ryonez commented on #669
Alright, I edited the `RemoteUserGuard.php` with this:

[code]

This has made it functional for my use currently.

[2020-07-22 22:46] Morriz commented on #539
@devopsix docker compose is not kubernetes, it has no access to localhost, so you have to provide the service name. So change http://localhost:8080 to http://keycloak:8080

[2020-07-23 09:04] lyndon160 opened #672 "Support for Forward Auth/ External Auth"
# Support for Forward Auth

## Summary

Based on the comment from https://github.com/louketo/louketo-proxy/pull/501, this is a new issue to discuss the capability of forward-auth within Louketo-proxy.

As far as I understand, Louketo proxy partially supports forward auth already, there are multiple related issues and PRs which are related to it: https://github.com/louketo/louketo-proxy/issues/399

[2020-07-28 19:47] hendrikstill commented on #568
I was facing the same problem with version 7.0.0.
After the initial set of the `kc-access` cookie the access token was never updated and for every user request a new access token was aquired.

But also the new refresh token wasn't updated in the `kc-state` cookie (#571), so after the lifetime of the refresh token the user had to relogin again.

With the update to louketo-proxy 1.0.0  i can't repro

[2020-07-28 19:53] hendrikstill commented on #656
Sounds like #571 .
I was facing the same issue. A update to louketo-proxy 1.0.0 seems to solve the problem

[2020-07-30 11:38] akifkhan01 opened #675 "Why access-token is verified in oidc supporting reverse-proxy"
In handler, why access-token is verified and used instead of id-token itself for OpenID. Shouldn't id-token be verified primarily in OpenIDC.

Comment snippet from code :
`// Flow: once we exchange the authorization code we parse the ID Token; we then check for an access token,
// if an access token is present and we can decode it, we use that as the session token, otherwise we default
// to the I

[2020-07-31 13:36] devopsix commented on #539
@Morriz, technically that's correct, no doubt.

But please note what @cowlingj suggested [above](https://github.com/louketo/louketo-proxy/issues/539#issuecomment-641939073):

As far as I understand, this is only expected to work in combination with using Keycloak as OpenID provider proxy to itself (`--openid-provider-proxy=http://keycloak:8080`).

Using the internal service name will result in the

[2020-08-01 11:50] Morriz commented on #539
Yes, a proxy like leuketo or oauth2-proxy (it has better cookie domain support) solves that.

[2020-08-04 14:46] johnchen05 opened #676 "SameSite setting as None does not works"
# SameSite setting as None does not works

## Summary
https://www.chromium.org/updates/same-site
The chrome enforce change samesite default value from None to Lax at Jul 28th.
by checking the behaviour and code, this proxy handle the value None as not set.
Please kindly check the the pasted code and screenshot.
https://github.com/louketo/louketo-proxy/blob/master/cookies.go#L59
![CB1DC162-A11C-476

[2020-08-04 16:52] krishnasaivst commented on #529
I too some thing which is similar to the issue mentioned.
1.5965592520121992e+09	error	no session found in request, redirecting for authorization	{"error": "authentication session not found"}
1.5965592520123885e+09	error	no session found in request, redirecting for authorization	{"error": "authentication session not found"}
1.596559252143861e+09	error	no session found in request, redirecting for a

[2020-08-06 09:06] mixxen commented on #586
Looks like CORS is supported with this pull request but never made it into the main branch:

https://github.com/louketo/louketo-proxy/commit/428c31f28a5cbc24ed7f989bf2ce90cd5fbf07a4

[2020-08-06 18:59] Nuru commented on #575
Hit this problem again. What are the plans for HTTP 2.0 and gRPC support in the proxy?

[2020-08-06 19:03] Nuru commented on #647
At the moment. the proxy does not properly and fully support HTTP2. See #575

[2020-08-06 19:28] Nuru commented on #575
So, the cause is:
https://github.com/louketo/louketo-proxy/blob/9eca196059ee1144aebd4d909589f8c54d710f3d/server.go#L631

combined with https://github.com/golang/go/blob/2bc8d90fa21e9547aeb0f0ae775107dc8e05dc0a/src/net/http/transport.go#L353-L360 which says not to enable HTTP2 if a TLSCLientConfig is set.

Solution appears to be simple: add

[code]
to the Transport configuration

[2020-08-09 13:23] KateGo520 opened #678 "Potential import collision: import path should be "go.etcd.io/bbolt", not "github.com/etcd-io/bbolt""
## Background
I find that `go.etcd.io/bbolt` and `github.com/etcd-io/bbolt` coexist in this repo：
https://github.com/louketo/louketo-proxy/blob/master/go.mod （Line 12 & 27）
[code]
That’s because the `etcd-io/bbolt` has already renamed it’s import path from "github.com/etcd-io/bbolt" to "go.etcd.io/bbolt". When you use the old path "github.com/etcd-io/bbolt" to import the `bbolt`, will reintroduces

[2020-08-09 13:25] KateGo520 commented on #678
@abstractj  @noseka1  Could you help me review this issue? Thx :p

[2020-08-11 13:12] vasilievs opened #679 "Don't send basic auth header"
i want to use oauth proxy for kibana authentication.
They are covered by Basic Authentication (i cannot turn it off).
but,  I want to pass a header
(in nginx or curl I do this:
proxy_set_header Authorization "Basic bmdpbng6c2VjcmV0cGFzc3dvcmQ =")
and it works.

when trying to specify a custom header in a command block:
[code]

I get an error

## Environment
Version of everything that it's running

[2020-08-11 14:16] vasilievs commented on #663
if you use oauth on proxy, why need to use grafana oauth setting?

Role-base model want to use in gafana?

yesterday i setup grafana with louketo (with use custom port to grafana backend)

    - --enable-authorization-header=false
    - --preserve-host=true

and grafana:
[auth.anonymous]
# enable anonymous access
enabled = true
...
# specify role for unauthenticated users
org_role = Admin

[auth.b

[2020-08-11 14:19] vasilievs commented on #679
The fix on the problem was even described?
https://github.com/louketo/louketo-proxy/pull/455

[2020-08-11 15:27] jacky96623 commented on #663
I think the focus should be on failed ```enable-authorization-header``` config but not Grafana?
This issue occurs for any proxy usage e.g. httpbin, or even if you just run a Gatekeeper without a healthy upstream.

[2020-08-11 19:40] Nuru opened #680 "Where can we find release notes for old versions of Gatekeeper?"
# Where can we find release notes for old versions of Gatekeeper?

## Summary

Most people are upgrading to louketo-proxy from old versions of Gatekeeper. They would benefit from seeing the old release notes.

## Why?

When upgrading and something fails, it would be helpful to see if it is because of a known breaking change in the evolution of Gatekeeper.

[2020-08-12 06:34] vasilievs commented on #663
once again revised my config, I set
authorization header false,
`    - --enable-authorization-header=false`
removing it got an error in grafana
`{"message":"Invalid API key"}`

my version - docker-compose 2.4,
image proxy - quay.io/louketo/louketo-proxy
image grafana - grafana/grafana:7.0.6

[2020-08-12 16:08] sandeepbangera commented on #679
@vasilievs I think you have an error in the config. The format is `--headers=headerName=headerValue`:

Try changing to below:
`- --headers="Authorization=Basic bmdpbng6c2VjcmV0cGFzc3dvcmQ="`

If you notice there is an extra space before `=` at end in your example which does not look right `- --headers="Basic bmdpbng6c2VjcmV0cGFzc3dvcmQ =` and also the missing header name.
I assume the above does n

[2020-08-12 16:13] sandeepbangera commented on #679
The code here https://github.com/louketo/louketo-proxy/blob/master/utils.go#L214 definitely does not look right to me. It should be looking for the first `=`  in the string and split it. It should throw an error only if there is no occurence of `=` in the string. When you do a base64 encode of the string it will contain `=` character 👎

[2020-08-12 18:21] vasilievs commented on #679
thanks for your answer.

Yes, i used correct header, the github markdown corrected my post.

`- --headers="Proxy-Authorization=Basic bmdpbng6c2VjcmV0cGFzc3dvcmQ="`

it doesn't work.

In base64 encode password i don't select characters (depends on login:pass phrase)

[2020-08-13 03:26] jacky96623 commented on #663
@sandeepbangera First of all let me apologize for not expressing my opinion clear.

Indeed I face the similar problem as you, the only difference is that I am not proxying for Grafana. And my steps to reproduce is just start a gatekeeper which proxies httpbin.

The detailed configuration are as follow:
[code]

With the above configuration and a valid token, I can get my ```Authorization``` header

[2020-08-13 07:57] vasilievs commented on #679
update
i generated user: pass for kibana without '=' charecters in encode base64
`- --headers =" Authorization = Basic dXNlcjE6MTIzNDU2Nzg5 "`
No error in louketo logs, but after autorization next error:
`net / http: invalid header field name" \ "Authorization" `
maybe it's because of the space in string ?

[2020-08-13 13:58] Beanow commented on #645
Had a similar, related issue with "streaming" requests.

### Use case

Using [MJPEG-streamer](https://github.com/jacksonliam/mjpg-streamer) to expose a webcam.

The way this "stream" is implemented (http handler [here](https://github.com/jacksonliam/mjpg-streamer/blob/85f89a8c321e799fabb1693c5d133f3fb48ee748/mjpg-streamer-experimental/plugins/output_http/httpd.c#L465-L471)), is by sending a
`Conte

[2020-08-13 16:10] Beanow commented on #645
I've poked a little bit at the provided PHP example.

Using a similar repro as I shared for my use-case:

[code]

### Used tech

The way PHP streams the response here is using [`Transfer-Encoding: chunked`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding#Chunked_encoding).
PHP will handle the encoding of this for you through the flush functions.

Additionally, my PHP re

[2020-08-14 09:03] srkfru commented on #404
Good Day @jangaraj,

My issue seems similar to this but configuration bit different than above. can you please look into this https://github.com/IzakMarais/reporter/issues/241  and help me to figure out the root cause.

Thanks,
Srikanta

[2020-08-15 03:03] johnhieu commented on #590
+1 for this. The documentation doesn't specify that refresh token is ignored completely when using /oauth/login (refresh token is not stored will not be stored in cookie or redis). Only when looking at the source code in **handlers.go** that you know the refresh token is ignored.

A temporary solution for this problem is to modify the code in handlers.go. The **loginHandler** doesn't have the code

[2020-08-15 18:01] Beanow commented on #645
Digging into this more, I found the issue.

## Cause, default flushing behaviour

The proxy dependency [goproxy](https://github.com/elazarl/goproxy) does not control how flushing is done. So it defaults to what the go standard library implements for both the upstream and downstream clients.

https://github.com/elazarl/goproxy/blob/0581fc3aee2d07555835bed1a876aca196a4a511/proxy.go#L180
The `io.Copy

[2020-08-16 18:51] Beanow opened #681 "Adding ARM architecture"
## Summary

Adding ARM v6 / v7 (32bit) and ARM v8 (64bit) to the build architectures.

## Why?

ARM CPUs are typical for Raspberry Pi-like or consumer NAS servers. Adding an ARM build here would allow more flexible protection of resources on low-power / SoC devices like these.

## How

Including the additional architectures in the CI and deploy pipeline.

## Acceptance criteria

Running the `quay.

[2020-08-17 09:57] lyndon160 commented on #681
The images and its dependencies appear to be compatible with Arm64v8 already.

It can be built using:
`docker buildx build --platform linux/amd64,linux/arm64 --push -t louketo/louketo-proxy .`
This generates both images, and creates a manifest file for them.

To do this locally, use `--load` instead of push.

[2020-08-20 11:28] TcaManager commented on #655
Hi, is there a way I use this in a docker-compose file please?

[2020-08-20 11:57] yuripastushenko opened #682 "Auth headers not transmitted through web socket"
# Title
Auth headers not transmitted through web socket

## Summary
We are using louketo-proxy as auth proxy between DEX and kubernetes dashboard.
Everything is working fine expect exec to pods from Kubernetes dashboard (via web socket).
When we open exec window in the dashboard we get a 404 error,
If we are going in kubernetes dashboard directly (with its default auth) this functionality works.

[2020-08-20 12:39] TcaManager commented on #576
Hi, I have a similar problem with Bitnami Image here https://github.com/bitnami/bitnami-docker-keycloak-gatekeeper/issues/11 so I'm trying Louketo too, but same problem appears.
My docker-compose.yml file.

[code]

My config file.

[code]
I get this error.

[code]
Thanks for your help. Sorry for posting here and at bitnami too.

[2020-08-20 12:47] luketainton commented on #576
Hi @TcaManager ,

I had to add the `extra_hosts` directive to my config to overcome this. You'll want something like this:

[code]

[2020-08-20 13:47] vasilievs commented on #663
the key `--enable-authorization-header=false` doesn't seem to work as it should
on kibana i see this behavior with parameters, in the response I see all headers from the proxy:

[code]

keys set in docker-compose (i tried with all variants (one or some or all, only the token-header is removed correctly)):
[code]

[2020-08-20 15:42] TcaManager commented on #576
Interesting @luketainton , thanks for your help. What do you mean with internal/external IP address? Do I need to get any ifconfig docker interface IP? My host has many FQDN and IPs in /etc/hosts but I'm on Linux and I wonder which IP would my container use to reach the host? I saw docker0 in ifconfig and many interfaces br-9e188c5db690 (br for bridge?)

[2020-08-20 15:44] luketainton commented on #576
Is your Keycloak container accessible from other hosts? If so, it'll be the IP address of the host. Otherwise try copying the `depends_on` section but renaming it to `links`, then remove the `extra_hosts` section.

[2020-08-20 19:34] luketainton commented on #576
@TcaManager it'll be whatever the address is on the NIC that represents that particular Docker network - you can run `docker inspect <NAME>`, which will tell you the details (inc. IP address) of the container that you specify.

Otherwise, you can try this instead:
[code]

[2020-08-21 11:58] abstractj opened #683 "Sunsetting Louketo Project"
# Sunsetting Louketo Project

After careful consideration, we have decided to pull the plug on Louketo and start the EOL procedure. The plan is during the next 3 months to fix only critical bugs and security issues. Everyone interested in capabilities provided by Louketo Proxy should look at [OAuth2 Proxy](https://github.com/oauth2-proxy/oauth2-proxy) project which is providing a similar set of ca

[2020-08-24 22:51] abstractj commented on #683
@ramshazar that's correct. That's explained in the FAQ.

[2020-08-26 02:00] leopku commented on #582
A temporary way,  use config file instead.
For example, add `secure-cookie: false` to your-louketo-config.yml

[2020-08-26 02:08] leopku commented on #683
Took long time to migrate to OAuth2-Proxy but still failed.
Checked all step by step according to documents again and again.
My conclusion, for now louketo-proxy is simple and working as well. I'll stay louketo-proxy for long time.

[2020-08-26 11:39] abstractj commented on #680
All the release notes are available here https://github.com/louketo/louketo-proxy/releases. Please check each tag and you can see the notes there.

[2020-08-26 11:39] #680 closed

[2020-08-28 13:27] hakoerber commented on #683
Hey, is it planned to add a notice to the `README`? Currently it still states the following:

This is quite confusing for someone stumbling upon this repository. I propose a note at the top, something akin to this:

If you want, I can open a pull request.

[2020-08-30 12:24] y0zg opened #684 "bearer token instead of cookies"
I'd like to have bearer token in browser instead of cookies which will be used further to access backend.
Please share where this is possible

[2020-08-31 10:18] Damientinker commented on #683
Hey, Sorry to hear the project is EOL'ed. But understandable if the goals have not been fulfilled. Maybe someone will want to maintain it. The more Options the better

In that vein, here are some other projects ( hope that’s ok, it’s a tiny bit off topic ! ). None of these are a 1-1 replacement to Gatekeeper, so don’t expect to just plug and play. And both off these will likely require more adapti

[2020-09-04 23:51] joao-dantas commented on #567
Hi,
Is there any plan to fix this issue?

[2020-09-04 23:56] CuBiC3D commented on #567
@joao-dantas see #683

[2020-09-07 17:09] Beanow commented on #645
I got some of the way there with my WIP, feel free to check that out and use it.
But given #683's sunsetting of the project I won't put in the work to make a PR out of it.

[2020-09-10 14:49] sachinjohar2 commented on #546
Is this feature available in keycloak gatekeeper?

[2020-09-11 11:37] bitbaggi commented on #684
Use secure-cookie: false to turn of cookie, then it uses bearer tokens

[2020-09-11 12:11] abstractj commented on #546
@pawneeranger nobody is working on this feature, please see https://github.com/louketo/louketo-proxy/issues/683

@sachinjohar2 no, this feature is not available on Gatekeeper and we don't have any plans to implement it.

[2020-09-13 19:58] nneul commented on #683
Would like to see suggested examples for how to adapt one specific element that louketo provides that does not seem to be available in oauth2-proxy - ```--headers=Authorization=Bearer XXXXXX```

i.e. being able to add a static header to upstream request. In particular, for the very basic use case of "I want to simply expose my k8s dashboard"

I'm not seeing any way to support that function with oa

[2020-09-14 18:31] Breee opened #685 "Role Based Proxy Pass"
# Role-Based Proxy Pass

## Summary
We protect a web service using Gatekeeper.
We want to be able to redirect users to different locations, based on their Keycloak roles.

Example:
- user1 has role "group01"
- user2 has role "group02"
- Our app ist reachable via http://app:8080

We now want that:
1. user1 sees http://app:8080/group01
2. user2 sees http://app:8080/group02

## Why?

This enables sim

[2020-09-14 22:48] abstractj commented on #685
@Breee thanks for reporting this. But I'm closing it for now. For more details, please read see the announcement here https://github.com/louketo/louketo-proxy/issues/683

[2020-09-14 22:48] #685 closed

[2020-09-14 22:49] abstractj commented on #683
@nneul please ask on the oauth2-proxy mailing list, it's the best place to understand the details of oauth2-proxy.

[2020-09-15 10:30] JeremyMahieu opened #686 "Redirection URL path prefix"
# Redirection URL path

## Summary
I use traefik as a reverse proxy. My different services are differentiated by path.

- my.domain.com/service1
- my.domain.com/service2
- my.domain.com/service3

I want service 1 to use keycloak authentication so I used the following:
[code]
When I visit `http://my.domain.com/service1` it redirects to `http://my.domain.com/oauth/authorize?state=(...)`. However it

[2020-09-18 05:43] johnhieu commented on #686
I have the same problem with the /oauth/authorize with Traefik with your setup.

Unfortunately, the /oauth/authorize won't use the Redirection URL to redirect it. The source code for this is specified below
`
[code]

The only way to make it to redirect correctly is to use the base-uri variable. In my case, I have to design a custom variable for the Traefik because the base-uri will also affect how

[2020-09-20 20:48] y0zg commented on #684
Does this work for keycloak gatekeeper ver 11?

[2020-09-21 08:47] fadao23 commented on #683
Hello @abstractj, where is the

Thanks.

[2020-09-24 06:10] a1tan commented on #547
Is there an improvement on this feature?

[2020-09-24 13:20] abstractj commented on #547
@a1tan please check https://github.com/louketo/louketo-proxy/issues/683

[2020-09-24 13:21] abstractj commented on #683
@fadao23 are you looking for something specific? What kind of guidance you need?

[2020-09-24 13:26] fadao23 commented on #683
Louketo/Gatekeeper works with "resources" restrictions.

Acutally I do not find in the Oauth2-proxy documentation something similar, we just can restrict access by "groups".

Do you know how reproduce the "resources" restriction provide by louketo in Oauth2-proxy ?

Thanks

[2020-09-29 16:52] Turgon37 commented on #529
Hello,
It may be caused by the gatekeeper cookie that are restricted to https domains by default (using the secure flag in set-cookie)
You can bypass this issue by using https as gatekeeper entrypoint or by set the command line flag "--secure-cookie=false" at gatekeeper startup

[2020-09-30 16:56] sc7565 commented on #679
We are also stuck, in same boat.. any leads would really help..

[2020-10-01 12:51] p53 commented on #683
i will miss forwarding feature of louketo, will see if something like that will find in other proxies

[2020-10-02 22:47] p53 commented on #683
ok to all, these are my findings, when roughly checking for my requirements for proxy:

 - pomerium is not able to do bearer token validation
- oathkeeper does not implement forwarding of token - probably in rework it will be there
- oauth2-proxy seems to be mess to me, quite confusing docs of options and also looking at code doesn't make me very persuaded
- all these does not support forward sign

[2020-10-02 23:19] p53 commented on #683
this might be option --pass-authorization-header=true

[2020-10-02 23:20] p53 commented on #683
for keycloak provider there is - --keycloak-group

[2020-10-02 23:24] nneul commented on #683
I'd be fine with oauth2 proxy other than that it seems to have a glaring missing capability, and that is just adding a static header.

i.e. the --headers=... option for louketo - which I use to send a fixed/static bearer token to upstream.

I could use oauth2 proxy in conjunction with other stuff to get that accomplished, but that's just extra steps.

[2020-10-04 06:00] jijiechen commented on #657
Hi, is there a workaround for this issue?

[2020-10-04 07:01] jangaraj commented on #657
Workaround: make CA cert available for Louketo (it must be available in the `/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem` in case of louketo Docker image)

[2020-10-05 01:01] JeremyMahieu opened #687 "Does not work well with SSE (server sent events)"
# Does not work well with SSE (server sent events)

## Summary
When proxying SSE traffic, it often doesn't work or is slow and events only come in occasionally and all at a a time.

## Environment

Built the docker containter with the current git repository

## Expected Results
Normal SSE traffic

## Actual Results
Slow traffic. Often no events for half a minute and then get all events at once.

#

[2020-10-05 01:56] JeremyMahieu commented on #687
see https://github.com/coreos/goproxy/issues/5

[2020-10-06 09:18] malys commented on #683
I agree with @p53.I have tested alternatives of louketo proxy (pomerium,oathkeeper,oauth2-proxy). I'm not convinced by none of them (missing  features, documentation not clear or not updated, chaotic parameters,...)Currently, I'm not ready to use them in production. Knowing Keycloak, Louketo integration was efficient and full featured. For me, Louketo is more accomplished than known alternatives (

[2020-10-07 13:11] SeWieland commented on #683
For me it seems that the auth approach between the projects is quite different.
oauth2_proxy is more intended to be a global SSO solution for all services in a cluster at once (one proxy as ingress / right behind the ingress), whereas gatekeeper/louketo serves as sidecar container proxy directly in the pod, providing you with SSO _and_ potentially very fine-grained access control to specific servi

[2020-10-07 16:31] linkvt commented on #657
I would also really appreciate a fix for this, I guess it is not really hard if you have some go knowledge and know the sources of this project which I currently not really have, there is also an example https://github.com/golang/oauth2/issues/187#issuecomment-227811477 I will take a look at this when I find some time.

[2020-10-08 07:12] jangaraj commented on #657
See https://github.com/jangaraj/louketo-proxy/commit/ddb37f62388fbd046ec6cb181ef73a9d32826903 feel free to test and create here.

[2020-10-13 07:53] SBlechmann opened #688 "Evaluating headers against access token"
# Title

Evaluating headers
## Summary

I'm aware of the EOL, which I find very sad, btw. Anyway, I wanted to ask for opinions and help on this - maybe from the community. I am also facing issues while trying to migrate to oauth2-proxy with keycloak.. this is why I'm still writing this issue for the good working louketo.

So I am using the OS FIWARE architecture (e.g. Orion context broker, mongodb

[2020-10-13 09:41] stianst commented on #683
Afraid we really don't have capacity to maintain Louketo/Gatekeeper at this point. It was intended that folks from OAuth 2 proxy (and another group) was going to help out with Louketo, hence the move from Keycloak Gatekeeper to a new project.

Personally, I do think Louketo/Gatekeeper has a better experience and is simpler to use than other things, but we just don't have the team around it to main

[2020-10-16 01:52] ackerleytng commented on #683
I'm considering stepping up to keep louketo going!

I used gatekeeper because it was almost paired with keycloak back then, and I assumed that gatekeeper would just have the best integration with keycloak.

I'll take a quick look at oauth2-proxy to make sure that louketo/gatekeeper at least fills a niche that oauth2-proxy isn't intended for.

From https://github.com/louketo/louketo-proxy/issues/68

[2020-10-16 14:26] dnini96 commented on #683
That would be really awesome!

What I miss in other solutions is:
1. fine-grained access control/authorization(let user with role X only use POST on path Y, whitelist url x,y,z etc.)
2. ease-of-use. Setting it up is like 5 minutes work.
3. support for roles (there's an issue for that in OAuth2-Proxy)
4. proper documentation

Some solutions provide No. 4 , but the rest are core features that only L

[2020-10-16 22:59] p53 commented on #683
@ackerleytng for me main problem of oauth2 was that it supports many things but it is not clear from docu which options belong to which type of provider+i wrote issue about forward signing and client credentials grants and they wrote there that oauth2 wasn't intended for not-user authentication, so probably this is main difference louketo is more service to service oriented and simpler because it

[2020-10-19 11:13] p53 commented on #683
https://github.com/oauth2-proxy/oauth2-proxy/issues/810#issuecomment-711065364

[2020-10-21 00:37] ackerleytng commented on #683
Okay! When I used gatekeeper, I used it because it was simple to understand and use. Thanks for all the suggestions!!

Louketo/gatekeeper seems to have found a niche in software with a few services, that need authentication and authorization, and also a forward signing proxy.

Louketo is like the little all-in-one executable that gets software off the ground and guides you to set up the correct au

[2020-10-26 10:22] antonstanov opened #690 "[error] the cookie is set to secure but your redirection url is non-tls"
Hello! I run gatekeeper for my angular app with this config:

docker run -it --rm quay.io/louketo/louketo-proxy \
  --discovery-url https://smthg-site/iam/auth/realms/dev \
  --client-id app-test \
  --client-secret 12345678-0d51-4f16-912f-7431a40a0015 \
  --listen 0.0.0.0:3000 \
  --redirection-url localhost/:3000 \
  --upstream-url localhost/:4200 \
  --preserve-host true \
  --enable-default-de

[2020-10-29 19:23] GerkinDev commented on #683
Hey @ackerleytng , have you a fork somewhere I can see ? I would be glad to try to find some time to contribute, and make some suggestions.

[2020-10-30 10:24] ackerleytng commented on #683
I don't have a fork now. I'm new to being a maintainer and would like to learn.

@stianst how do you currently maintain louketo? Who gets to merge to the louketo project?

[2020-11-02 12:11] stianst commented on #683
@ackerleytng As it stands Louketo is EOL on 21st November and we will only merge security related issues, or critical regressions. We will only do another release of Louketo if it is absolutely needed.

We would welcome others to take ownership and continue the maintenance of Louketo. We'd have to define a group of maintainers that sign-up to owning the project, and have a conversation about how t

[2020-11-02 13:38] statik commented on #683
@ackerleytng there is also a fork here https://github.com/oneconcern/keycloak-gatekeeper.

[2020-11-02 18:10] ackerleytng commented on #683
Cool! Maybe they would be willing to maintain louketo instead!

[2020-11-04 15:23] tyg03485 commented on #582
+1
Same as using config file.

[2020-11-12 15:32] p53 commented on #675
yes id-token should be validated https://issues.redhat.com/browse/KEYCLOAK-8954

[2020-11-12 15:32] p53 commented on #675
will make pull request for this

[2020-11-15 14:03] loicoudot commented on #642
100% agree : by default the proxy should act like a pass-through regarding the response body: it should not try to compress or uncompress it, but just transmit it unaltered.

[2020-11-16 09:47] p53 commented on #675
but there will be still problem with verifying access token in middleware, because right now it uses verifytoken method for id token and thus also checks client_id=aud which may/may not be true so it shouldn't be checked by default, but it can't be turned off

[2020-11-20 12:03] jenwirth commented on #686
@johnhieu what do you mean when you say "I have to design a custom variable for the Traefik"?

I think i have a related problem:

environment k8s/ingress nginx that rewrites `path: /sample(/|$)(.*)` to `nginx.ingress.kubernetes.io/rewrite-target: /$2`

- with  `--base-uri=/sample` i get into a redirect loop (i guess this has to do with the cookies)
- without  `--base-uri` it redirects without the

[2020-11-21 09:49] johnhieu commented on #686
Thanks for asking and sorry for the delayed response. I am not at good at explaining things but I try my best to explain. When I mentioned the custom variable, the variable is added in this configuration ([link](https://github.com/louketo/louketo-proxy/blob/master/docs/user-guide.md#configuration-options)).

What I did was to modify these files:

**doc.go** - Added  **TraefikAPIURI** variable

[co

[2020-11-23 12:57] malys commented on #683
@ackerleytng Hi, Any news about the possibility to maintain louketo with a new team ?
The EOL is coming and I would like to know if louketo is really dead to migrate to oauth-proxy.

[2020-11-23 14:20] malys commented on #683
@statik Have you contacted @fredbi from oneconcern to exchange and to know his position about louketo maintenance?

[2020-11-23 15:31] ackerleytng commented on #683
I was waiting for @abstractj and @stianst to define the group of maintainers and discuss the transfer. Let me also reach out to someone from oneconcern.

[2020-11-23 16:08] jenwirth commented on #686
Thanks, i get it. Thanks for your explanation :)

For now i am trying a different path (istio with oauth2-proxy). I might abandon that path and return to louketo-proxy. It seems however this project is EOL. This means i will have to move at one time anyway.  (FYI oauth2-proxy as a sidecar proxy, was also not able to work with a path prefix. Hope to get more luck by combining Envoy and oauth2-proxy

[2020-11-23 16:49] statik commented on #683
@malys I have not. I have a project https://github.com/kindlyops/havengrc that was using keycloak gatekeeper before it was briefly renamed to louketo. My plan is to simply work on porting HavenGRC to https://github.com/oauth2-proxy/oauth2-proxy and work with the existing oauth2-proxy community to make any fixes or enhancements that I need.

[2020-11-23 17:26] fredbi commented on #683
I am the current maintainer of that fork. I am not actively adding features but keep currently focused on my main use case.
PRs to this fork from other contributors are welcome.

I've tried hard in the past to keep in line with the gatekeeper's master before eventually deciding to fork away and step back from the original repo.

[2020-11-23 23:17] johnhieu commented on #686
It's unfortunate to see that the project is EOL. I am still watching the thread to see anyone stepping up to maintain this project. There are people talking about continuing the project so let's hope that this project will be on-going.

I have tried other repo like oauth2-proxy, etc but none of them seems to work well with a path prefix, only Keycloak Gatekeeper seems to support but there are limi

[2020-11-24 22:17] c0rmichels commented on #545
Any progress on this ? I am very interested in this feature.

[2020-11-25 01:04] laurent-r commented on #545
Hi @c0rmichels
As far as I know, the louketo project is [no longer maintained](https://www.keycloak.org/2020/08/sunsetting-louketo-project.adoc) and you may have a look at https://oauth2-proxy.github.io/oauth2-proxy/

[2020-11-25 14:55] malys commented on #683
Thanks @ackerleytng @statik @fredbi. I'm pessimist about louketo future. With a heavy heart, I will to switch to oauth2-proxy v7.
Thanks to louketo community.

[2020-11-26 08:53] fredbi commented on #683
@malys @ackerleytng @statik we could just fork this and set new targets, besides just maintaining backward compatibility with Gatekeeper (sorry I could never get used to the short-lived "louketo" name :) ).

It would take but a couple of volunteers joining forces to make something out of this codebase.

What I'd like is:
1. Keep keycloak as a reference implementation, but not constrain users with

[2020-11-26 11:39] p53 commented on #683
@fredbi i would give some help, from what i've seen there are quite old dependencies there, so it would need update

[2020-11-26 17:32] ackerleytng commented on #683
@fredbi I'm with you on that. :)

[2020-11-26 21:14] fredbi commented on #683
@ackerleytng @p53 @malys @statik @GerkinDev

After an offline discussion with @ackerleytng, we have decided to continue maintaining this piece of software.

I think that can skip the repo transfer and just start with a fork.

The first immediate action would be to collect available documentation and setup CI etc.

I have a lot of updates to contribute back from my fork, especially re-obsolete depe

[2020-11-26 22:10] statik commented on #683
@fredbi sounds great! I will try to help

[2020-11-27 00:24] ackerleytng commented on #683
Do join us on discord at https://discord.gg/Eq4rnkeMmP! @statik especially you!

[2020-12-02 19:11] mjkresslein opened #694 "Can't get successful TLS handshake with discovery url"
**Description**

I have a bitnami-docker-keycloak-gatekeeper that I am configuring to protect a backend published url. The Keycloak instance sits behind an HAproxy that requires SSL verification. When I use the TLS options in keycloak-gatekeeper config I get a handshake failure. I don't know if I'm using the configs incorrectly or if I'm using the wrong configs.

I submitted this issue here (https